body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #45a049;
}

#webcam-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    display: inline-block; /* To center the canvas */
}

#label-container {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
}

#label-container div {
    margin-bottom: 5px;
}